.container-fluid.gray-dark-bg
	.footer
		.row
			.logo
				img(src="/images/footer-logo.png")
			.footer-nav: ul
				li: a(href="/locations") Locations
				li: a(href="/academy") Academy
				li: a(href="/accelerator") Accelerator
				li: a(href="/events") Events
				li: a(href="/about") About
				li: a(href="/jobs") Jobs
				li: a(href="http://news.theironyard.com") News
				li: a(href="http://blog.theironyard.com") Blog
			.social-nav: ul
				li: a(href="http://twitter.com/theironyard").ss-icon twitter
				li: a(href="http://facebook.com/theironyard").ss-icon facebook
				li: a(href="http://vimeo.com/theironyard").ss-icon vimeo	
			
			.copyright ©2014 The Iron Yard. All Rights Reserved   
