include /mixins/photo-bar
extends /layouts/main

block meta
  +meta({
    title: 'Welcome to a Test Suite',
    description: "It's cool."
  })

block content
  +navigation({
    color: 'gray-dark',
    title: '',
    image: '/abc.jpg',
    triangle: false,
    gradient: false,
    home: true
  })
  .container-fluid
    p Super!

  +photoBar({
    title: 'Blah',
    photo: '123.jpg'
  })

  .container-fluid
    .row
      h2 Beer!