extends /layouts/main

block meta
  +meta ({
    title: "FAQs",
    description: "Watermelon"
  })

block content
  +navigation({
    title: 'FAQs',
    color: 'gold'
  })

  .container
    .row
      .col-md-8
        h2 Seek and you will find
        
      .col-md-4
        p Lunch Time!
       