extends /layouts/main

block meta
  +meta ({
    title: "Iron Yard- Academy FAQs",
    description: "Find answers to commonly asked questions here. Don't see what you are looking for? Give us a call, shoot us an email, or hop into our chat room!"
  })

block content
  +navigation({
    title: 'FAQs',
    color: 'gold'
  })

  .container
    .row
      .col-md-8
        h2 Seek and you will find
        ul
          li: a(href="#different") What makes you different from other code schools?
          li: a(href="#cost") How much does it cost?
          li: a(href="#job-placement") You’ll help me find a job?
          li: a(href="#placement-success") What is your success rate for job placement?
          li: a(href="#companies") What kinds of companies do your graduates go to work for?
          li: a(href="#no-code") I don’t need to know how to code? Are you serious?
          li: a(href="#pre-work") Do you require students to do pre-work?
          li: a(href="#sorcery") What kind of sorcery do you use to make all of this happen?
          li: a(href="#commitment") How much time and commitment will it really take?
          li: a(href="#employer-feedback") What do employers say about students they’ve hired?
          li: a(href="#student-feedback") What do students say about your classes?
          li: a(href="#housing") Do you offer housing? 
        p Didn’t see what you were looking for? <a href="mailto:Academy@theironyard.com?subject=The FAQ didn't answer my question">Send us an email</a> and we’d be happy to answer your question.
        hr
        h3#different What makes you different from other code schools?
        p 
          | Great question. The answer depends on which school you compare us to, so we’ll talk through the most common options people ask about. If you want, give us a call (855-399-2275) or <a href="mailto:academy@theironyard.com">send us an email</a>. We love talking about code schools and want to help you make the right choice (even if that means it’s not our school).<br><br>
          | Let’s tackle what makes us unique by category.<br><br>
          | <strong>Online resources and information</strong> <br><br>
          | We love telling people that you can find almost all of the raw information in our curriculum online, for free. It’s no secret: “Google University” has produced many a fine programmer. In almost every case, though, their skill was forged over years of experience, trial and error, and learning the hard way just how much horrible information and advice there is on the Internet. With the ever-increasing technological advances in the world of programming, it’s becoming even harder to sort the good from the bad and keep up with what new tools you should learn. Our course is designed to trim the fat you find online, compress learning time by showing you the right tools and resources to focus on, dive far deeper than most Internet tutorials take you, and, most importantly, teach you the intangible elements of being a great programmer (collaborative coding, architecture, work flows, good communication, etc.)<br><br>
          | <strong>Online code education programs</strong> <br><br>     
          | We’re huge fans of online education. In fact, we’re good friends with the people at <a href="http://teamtreehouse.com">Treehouse</a> and encourage all of our students to sign up so they can expand their knowledge, learn new languages, and continue practicing the art of code. What’s more, most students who come to us have spent time tackling some sort of online code tutorial. Almost all of them have realized that <em>becoming a professional developer in the near future is going to take more than a few hours of tutorials on nights and weekends</em>. What many don’t realize is that most online schools fail to plumb the depths needed in order to be a top-notch developer in a short amount of time. Instead of scripted, step-by-step assignments, our exercises focus first on problem solving, meaning students complete the same assignment in a variety of ways. This teaches them the real-world complexity of programming and gives our instructor live examples to teach from—the closest analogue you will get to solving real engineering problems in the real world.<br><br>          
          | <strong>Offline code schools</strong> <br><br>
          | There are offline code schools popping up all around the world and their quality varies widely. After talking with students and instructors from other schools, here are a few things that we know set our program apart:<br>
        ul 
          li <strong>Our goal is for you to learn how to learn.</strong> Yes, we want to get you a great job offer, but honestly, that is the easy part of what we do. Our ultimate goal is for you to be able to teach yourself so that you can continue growing and learning yourself throughout the rest of your career. Technology changes quickly, so simply learning the syntax of one language isn’t going to cut it. You need to be able to jump into other areas of tech and learn them, and that’s exactly what we show you how to do. One of our proudest moments was when one of our Front End Engineering students went from writing JavaScript to teaching himself Objective-C (and building an app for the startup who hired him) shortly after class. That kind of transferrable skill set means that you have the ability to remain highly valuable for the rest of your career.
          li <strong>We have chosen to make an uncompromising commitment to quality and nothing else.</strong> From our instructors to our curriculum, we’ve made our number one priority quality. Sound like a party line? Here’s what it looks like for us practically:
            ul
              li <strong>We hire the best instructors in the industry</strong>, require that they have teaching/mentorship experience, pay them what they’d be worth at a <em>really</em> good programming job at an awesome company, and give them a month off paid to explore the world of development and bring that knowledge back into The Iron Yard and our curriculum.
              li <strong>Our class size is capped at 15 students</strong>. When you do the math for almost any code school, you realize that adding more students gets very lucrative, very quickly. We started our first class with 7 students and grew it to a number that ensured that each and every person who comes through our program gets as much one-on-one mentorship time with the instructor as they need. In fact, that’s what our lab time is all about—not dozens and dozens of students trying to hack it out on their own with little or no access to the actual professor.
              li <strong>We don’t take placement fees from our hiring partners.</strong> This is a big one. Many code schools business models run on kickback from placing students in jobs, whether that’s tuition reimbursement or the fee a recruitment firm would get in the same situation. There’s nothing inherently wrong with that, but we decided that if we really were 100% committed to our students that it wouldn’t be healthy to have an economic interest in where they go to work.
          
          li <strong>Dollar for dollar, we’re one of the most affordable programs out there for the quality and results that you get in return.</strong> Best-in-class instruction and true career and job placement support are hard to find (our success rate is 100%, by the way). The total cost of getting both at The Iron Yard is much more affordable than other programs. Also, the cost of living in our cities is generally far less than places like New York and San Francisco, making the life transition much more feasible for people in all walks of life.
          li <strong>We teach far more than code,</strong> bringing in guest-lecturers who talk about design fundamentals, how to work well with designers, other disciplines of programming, entrepreneurship, and more. We provide our students with the widest possible gamut of exposure so that they have a well-rounded view of the industry when they graduate.
          li <strong>We place a high value on soft skills,</strong> focusing on the qualitative aspects of being a successful programmer, whether that’s in a freelance career or at a company. We give students feedback on their interaction and contribution in group projects, their communication with us during the program and the strengths and weaknesses they’ll carry into their work. On top of this individualized attention, our team lectures throughout the semester on communication skills, freelance contracts, team dynamics and provides contract templates and proposals they’ll need when they graduate.
          li <strong>Our career support is personalized.</strong> Our team works incredibly hard to get students where they want to be, whether that’s a startup or a large corporation. We have contacts all around the country and after the program we meet weekly and communicate as often as needed with each student to execute a job-searching strategy. We also perform mock interviews so that there aren’t any surprises when you graduate.
          li <strong>We work on real projects.</strong> Whether it’s an internal tool for The Iron Yard or an actual product our team or one of our Accelerators is building, our students have the chance to work on real live stuff that actual customers will use.
          li <strong>You get access to the entire Iron Yard family.</strong> Whether it’s working shoulder-to-shoulder with our accelerator teams, sitting in on mentor sessions, networking with our CoWorkers, or looking through our Rolodex and asking for introductions, we give you any resource we can to help you be successful.
          li <strong>We partner with awesome sponsors.</strong> Our sponsors provide amazing resources to our students, from free accounts to web-design assets.
        h3#cost How much does it cost?
        p You can read about tuition, financing and scholarships on our <a href="/academy/tuition">Tuition Page</a>.
        h3#job-placement You'll help me find a job?
        p When you are accepted to The Iron Yard Academy, you join a family that extends far beyond your individual class or campus. Our code school and accelerator graduates comprise a national network of tech professionals, giving you access to people and companies in almost every sphere of the industry.
        P
          | If you choose to enroll in the career support program, we’re committed to helping you get where you want to go. Every student who has fully participated our process has gotten a job in the field. Here are the details: <br><br>
        ul
          li Our careeer support program requires active participation from both our students and our staff. As we said above, our support is individualized and focused and we require the same of our graduates. 
          li Throughout the semester our staff walks students through a curriculum that lays the foundations of understanding job postings, interviews and hiring processes in the tech industry. We cover what goes into great portfolios, cover letters, communication and project management. Through all of those components we focus on empathy as it applies to all parts of a job in programming.
          li In each city, we involve companies and their key staff (many from our Employer Advisory Boards) who guest lecture, conduct mock interviews, facilitate in hackathons, advise on final projects and join us at a Iron Pints throughout the program. This allows both our students and employers to get to know each other before the program is even over.  
          li Upon graduation, our students have built an impressive body of work as proof of their skill and have developed the skills needed to search for and interview for jobs. 
          li After the program ends, the work of finding work begins. This is a collaborative effort between our staff and the student. We help our grads build out a job-application toolkit that they can adapt to fit various opportunities. This allows them to rapidly create high-quality cover letters, portfolios and answers to questions, meaning they can pursue a large number of opportunities in a short amount of time. 
          li We have relationships with employers—local and national—who are interested in hiring our students and provide job opportunities, apprenticeships and internships for them. At the same time, we require students to (and support them in) quickly building out a top-notch portfolio and identifying job opportunities that interest them. (Our most successful grads apply to more than 20 jobs per week post-graduation.) Wherever needed our staff provides personalize guidance and recommendations. 
          li For students who choose to freelance, we provide project guidance and introductions to opportunities for work when available. 
        p <em> We are going above and beyond just your first job offer.</em> We are currently building out ongoing edcuation materials on advanced topics so that as you progress in your career you can have continued access to proven resources from The Iron Yard. We're also laying the groundwork for an alumnit mentorship network, ongoing access to our staff, alumni events and more. Your first gig is just the first step—we want your relationship with The Iron Yard to provide ongoing value as you progress in your career.  
        p  
          | We believe in what we do and our program is extremely selective, so if we can’t produce the right result, someone’s doing something wrong.<br><br>
          | Give us a call (855-399-2275) or <a href="mailto:academy@theironyard.com?subject=I have a question about career support">send us an email</a> for more details.<br><br>
        hr
        p <strong>Didn't you have an actual job guarantee at one point?</strong> 
        p Yes, we did. And we still would have the actual guarantee were we not seeking to be fully licenesed post-secondary educational institutions in every state where we operate. <em>What??</em> Yeah, seems crazy, doesn't it? You can read the full details <a href="http://blog.theironyard.com/important-updates-to-our-job-placement-program/">in this blog post</a>, but the short story is that in almost all cases, state licensing organizations have a rule against using the word "guarantee" in messaging, or even implying that placement in a job is promised. That has been a core promise of ours since the beginning, because we believe so much in our ability to get people ready for junior level web development roles. We have a proven track record—we've never had to issue a refund to a student. 
        p Now to comply with licensing requirements we will be phasing out the language around the job placement "guarantee". For new locations launched from today, the job placement guarantee will no longer be part of the offer. Make no mistake: <em>kick-ass career support and job placement will still be our goal</em>, but we can no longer—by law—offer a guarantee or promised outcomes.
        p <em>We've decided to go above and beyond simply job placement.</em> As we said above, we're working to make our student experience better, taking you beyond just your first job. In January, 2015, we will be introducing several new programs to make our student experience even better, including ongoing educational opportunities, unique alumni mentorship relationships and continued career support.  
        h3#placement-success What is your success rate in career support and graduates getting job offers?
        p We have a 100% success rate. We’ve never had to give a refund to a single student. Want to talk to our graduates? Give us a call (855-399-2275) or <a href="mailto:academy@theironyard.com?subject=I would like to speak to your graduates">send us an email</a>.
        h3#companies What kinds of companies do your graduates go to work for?
        p 
          |Our students pursue all types of programming careers when they leave The Iron Yard, from small web shops, venture-funded startups and marketing agencies to established product companies and design firms. Many of our students also choose to pursue freelance or contract work for the flexibility they provide.<br><br>
          |Here’s a list of a few of our hiring partners to give you an idea:
        ul
          li <a href="http://benefitfocus.com"> Benefitfocus </a>
          li <a href="http://www.sparcedge.com/"> SPARC</a>
          li <a href="http://jackrussellsoftware.com/"> Jack Russel Software</a>
          li <a href="http://www.organic.com/default.aspx"> Organic</a>
          li <a href="http://fuzzco.com/"> Fuzzco</a>
          li <a href="http://boomtownroi.com/"> Boomtown</a>
          li <a href="http://www.blueion.com/"> Blue Ion</a>
          li <a href="http://www.roberthalf.com/technology/"> Robert Half Technology</a>
        h3#no-code I don’t need to know how to code? <em>Are you serious?</em>
        p
          | Sounds crazy, doesn’t it? But it’s true: we teach people who don’t have any prior coding skill. We do require people to dip their toe in the water by going through some basic online tutorials during the interview process, but that’s simply so they have a chance to actually write the language and be certain they want to dive into three heavy duty months of it.
          | Don’t get us wrong—you won’t be a CTO when you get done with the program, but you will be one of the top junior-level programmers available for hire and have the foundation upon which to pursue a CTO-like role.  
        h3#pre-work Do you require students to do pre-work?
        p
          | We will start our answer to this question by making an import an distinction: <em>information isn’t the same as knowledge,</em> and from our experience with work that students do ahead of time, information (and pre-work) only goes so far in helping you do well in our classes.<br><br>
          | The primary reason is that in most situations, scripted assignments and even understanding the vernacular of a language doesn’t teach you how to think about the subject on a deep level. Let’s take learning a foreign language as an example. If you wanted to learn Mandarin, you could buy books on the language and listen to Rosetta Stone. You’d gather a lot of information about the language—sentence structure, vocabulary and more. As many people have found out, though, even if you’ve done well with those tools, it’s a different game when you get to the country and hear natives speak. It can even be hard to understand because they are speaking so quickly and with ‘imperfect’ pronunciations related to their region, etc. That’s why people say, <em>“if you really want to learn Mandarin, go live in China.”</em> Knowing sentence structure and vocabulary help, but only so much. And in fact, if you dive into the deep end first (by moving to China, for example), you find that those things come naturally because you’re <em>learning the foundations of the language</em>—its history, culture, mechanics and slang. Having context and foundation for details mean they fit easily into place as you grow in your knowledge of a subject.<br><br>
          | Some schools use a huge amount of pre work as a substitute for intensity or instruction during the actual class. (Some only offer 20 minute lectures!) From our experience, that really does a disservice to students—complex subject matter like Rails warrant far more time in the classroom.<br><br>
          | At The Iron Yard, we assign very light amounts of pre-work. There are a few exercises and some reading, but the goal is mainly to familiarize you with some terms and basic concepts.<br><br>
          | Why? Our classes are so intensive that even if people do a huge amount of pre-work, the entire class is generally on a level playing field by the second week. In fact, most students have said that going through The Iron Yard is one of the hardest things they’ve ever done. Part of the reason for that is we don’t give scripted assignments or follow-along-step-by-step projects. Everything is very open ended so that our instructors can help you develop the mental muscle required to think through the foundations of building an application, from architecture to user experience to security to design.<br><br>
          | From our experience, hours and hours spent reading or doing assignments ahead of time might make the first few weeks of class easier, but it doesn’t actually make you any better of a programmer than people who didn’t do that same prework.<br>
        h3#sorcery What kind of sorcery do you use to make all of this happen?
        p
          | Black magic. (Just Kidding.)<br><br>
          | First and foremost, we accomplish this through hiring the most talented people out there. Our employees are some of the most highly-paid people in their industry because they’re worth it.<br><br>
          | Second, we all love what we do. The people we hire are passionate about changing people’s lives through code education, and they invest their heart and soul into making that happen. (Several have left huge companies and startups to join our team because they believe in our mission).<br><br>
          | More practically, our program works really well because of our approach to education. We are committed to training the highest-quality developers in the world, both in skill and in character. That means training students to think like engineers and solve problems—not just how to type the syntax of a language. Knowing syntax and punctuation doesn’t make you a great writer; in the same way simply knowing how to write some JavaScript doesn’t make you a great programmer—that’s the easy part. Because of the thinking foundation we build, our graduates have an amazing level of aptitude after only 12 weeks with us.
        h3#commitment How much time and commitment will it really take?
        p
          | We are very clear with our students about how difficult this program is. We train professional programmers, not casual enthusiasts. Our average student puts in 60 hours per week, many have to invest more than that.<br><br>
          | What makes it so demanding? You learn a new subject almost every day and have homework associated with that topic due at 8:00am the next day (or Monday if it’s a weekend). The assignments are cumulative, so you incorporate things you’ve already learned into new ones so that by the end you have muscle memory across the spectrum of the subjects you’re studying.<br><br>
          | Don’t get us wrong—we’re not workaholics and we don’t want you to be either, but building the foundation for a great, balanced career is no easy task. Our policy is “work hard during class so you don’t have to afterwards.”
        h3#employer-feedback What do employers say about students they’ve hired?
        p
          | Here are quotes from people who have hired our students: <br><br>
          | <em>“When I hired Andrew McIntee to overhaul a handful of our web properties, I was blown away at how much he had learned from The Iron Yard Academy. We couldn’t be happier.” </em><br>
          | <strong> -—Dan Waldschmidt, CEO of Waldschmidt Partners</strong><br><br>
          | <em>“Tyler has been great. Each project he did had a unique layout and therefore needed a little more care than the templates for the rest of the site. The first week, I had him come in just to test the waters…and I hope to use him weekly/bi-weekly until they’re all live. He has a great personality, easy to talk to and work with. He takes direction well, and offers good solutions and alternative solutions. The markup that he produces is top notch—it was extremely easy for me to go in and make tweaks when I was stitching files together for launch. Overall, I’m really impressed. Can’t wait to see more guys like him come out of the program. Thanks for the recommendation.”</em><br>
          | <strong>—Nathan Spainhour, Digital Guru at Brains on Fire</strong><br><br>
          | <em>“Our latest programmer is an Iron Yard graduate and we’re impressed. She comes to us in learning mode from the academy and is picking up the languages that we need her to use quickly. She’s already added a lot of value and enthusiasm to the development team.” </em><br>
          | <strong>—William Haynes, CEO of Sabai Technology</strong><br><br>
          | Want to talk about adding our grads to your team? <a href="mailto:academy@theironyard.com?subject=I'd like to hire an Academy graduate">Give us a shout</a>.
        h3#student-feedback What do students say about your classes?
        p 
          | We're so glad you asked. We'll let them tell you themselves.<br><br>
          | <em>“The Iron Yard has taught me a new way to think, given me confidence to move forward, and opened numerous doors on a path to a fulfilling programming career. Thinking about it? Stop, and just do it.”</em><br>
          | <strong>—Daniel Jeffords, Class of April, 2013</strong><br><br>
          | <em>“I came into the class as a small-time, self-taught web developer, the Iron Yard Academy helped me re-learn how to develop the right way. I can now write production-level code with confidence and collaborate effectively with other programmers. Going to this class taught me how to be a true craftsman of the web, dramatically increased my industry value, and opened up tons of doors for work.”</em><br>
          | <strong>—Andrew McIntee, Class of April, 2013</strong><br><br>
          | <em>“The staff is cool, easily approachable and encourages questions. The workspace and classroom are awesome. Aside from comfy furniture, they have a pool table, an open source video game console but best of all, you can draw on almost every wall in the building.”</em><br>
          | <strong>—Ari Picker, Class of August, 2013</strong><br><br>
          | Want to talk to a graduate? <a href="mailto:academy@theironyard.com?subject=I'd like to talk to an Academy graduate">Give us a shout</a> and we’ll connect you.
        h3#housing Do you offer housing?
        p 
          | We don't offer formal housing in most cities, but we do help students locate potential short-term lodging for the duration of the course. <a href="/locations">Visit our locations page</a> and reach out to local staff for more information.

      .col-md-4
        hr
        p(style="font-size:16px"): strong We love talking to people about what makes our school different and how it can change their lives.
        ul 
          li: a(href="mailto:academy@theironyardcom?subject=I'd like to talk on the phone about the Academy")  Send us an e-mail
          li Jump into our <a href="https://www.hipchat.com/gVQZ3qwbv">Academy chat room</a> to talk with someone on the team
          li Give us a call
            ul
              li • Atlanta: <a href="tel:+7707518046">(770) 751-8046</a> 
              li • Charleston: <a href="tel:+8435012775">(843) 501-2775</a>
              li • Durham: <a href="tel:+9195616055">(919) 561-6055</a>
              li • Greenville: <a href="tel:+8649520099">(864) 952-0099</a>
              li • Houston: <a href="tel:+7134253797">(713) 425-3797</a>
              li • Tampa: <a href="tel:+8137752275">(813) 775-2275</a> 
              li • Orlando: <a href="tel:+3212098655">(407) 358-6683</a> 

        hr
        img.photo(src="/images/academy/faq/faq-image-1.jpg" style="margin-bottom:10px; max-width:500px")
        img.photo(src="/images/academy/faq/faq-image-2.jpg" style="margin-bottom:10px; max-width:500px")
        img.photo(src="/images/academy/faq/faq-image-3.jpg" style="max-width:500px")  
