extends /layouts/main

block meta
  +meta({
    title:"Great",
    description:"Wonderful"
  })

block content
  +navigation({
    title: 'About Ice Cream',
    color: 'gray-dark',
    links: [
      {title: "Burgers", url: "/about/burgers"}
    ]
  })

  .container
    .row
      .col-md-8
        h3 Cool
        p Wow
        