extends /layouts/main

block meta
  +meta({
    title:"Iron Yard- About",
    description:"The Iron Yard exists to create exceptional value for people and their ideas through code education, startup accelerators, and coworking spaces."
  })

block content
  +navigation({
    title: 'About The Iron Yard',
    color: 'gray-dark',
    links: [
      {title: "Team", url: "/about/team"},
      {title: "Culture", url: "/about/culture"}
    ]
  })

  .container
    .row
      .col-md-8
        h3 The Iron Yard exists to create exceptional value for people and their ideas through code education, startup accelerators and coworking spaces.
        p Through our broad, deep and growing network of teachers, programmers, designers, entrepreneurs, investors, employers and coworking spaces, we have developed a thriving community where serendipity happens en masse.
        h4 We are people-centric.
        p We put our students, teams, investors and supporters first in all of our decision making. Our success is entirely dependent on their success.
        h4 Our challenge is immense.
        p The world has huge problems that need to be solved, many of which technology is perfectly suited to address. Companies around the globe are answering this call, but anyone with boots on the ground can feel the acute shortage of talent needed to rise to the occasion. That gap is widening right now, and over the next decade the shortfall will affect industries, economies, businesses and individuals as they fight to add value in a digital world.
        h4 The Iron Yard is a solution at that juncture of supply, demand, business and a broken education system.
        p We are committed to training the highest-quality developers and startups in the world, both in skill and in character. Our mission is to find people who want to pursue the craft and life-long adventure of technology, teach them the tools of the trade, and then release them into the world with the drive and capability to make a difference. We believe that passionate, talented people who love what they do will create great families, jobs, companies and solutions to the world’s problems.
        h4 Join us.
        p We want to accomplish our goal alongside talented, passionate people who share our vision, love what they do, and want to have a whole lot of fun along the way. <a href="/jobs/">Check out our job openings</a> and join the team.
      .col-md-4
        h2 Connect
        ul 
          li: a(href="/jobs/") Join our team
          li: a(href="mailto:hello@theironyard.com" target="_blank") hello@theironyard.com 
          li: a(href="http://twitter.com/theironyard" target="_blank") @theironyard 
          li: a(href="/locations") Locations 
          li: a(href="/about/team") Meet our team
          li: a(href="/about/culture") Discover our culture
        hr 
        img.photo(src="/images/about/about-page-team.jpg" style="max-width:500px")
        img.photo(src="/images/about/about-page-collaborate.jpg" style="max-width:500px")
        img.photo(src="/images/about/about-page-mason.jpg" style="max-width:500px")